/*
    @author: Ameer Eleyan
    ID: 1191076
    At: 12/27/2021      1:37 AM
*/
.button
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 16;
    -fx-font-weight: Bold;
}

.button:hover
{
    -fx-background-color: #FF4C29;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-weight: Bold;
}



.comboBox
{
    -fx-background-color: #ffffff;
    -fx-font-size: 14;
    -fx-font-weight: Bold;
}
.comboBox:hover
{
    -fx-background-color: #FF4C29;
    -fx-font-size: 14;
    -fx-font-weight: Bold;
}


.anchorPane
{
	-fx-background-color: linear-gradient(to left, black, white);
}