/*
    @author: Ameer Eleyan
    ID: 1191076
*/
.button
{
    -fx-background-color: #ffffff;
    -fx-border-color: #FF4C29;
    -fx-border-width: 2;
    -fx-text-fill: #000000;
    -fx-font-size: 16;
    -fx-font-weight: Bold;
}

.button:hover
{
    -fx-background-color: #FF4C29;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-weight: Bold;
}

.textArea
{
  -fx-text-fill: #000000;
  -fx-font-size: 15;
  -fx-font-weight: Bold;
}

.comboBox
{
    -fx-background-color: #ffffff;
    -fx-border-width: 0px0px2px0px;
    -fx-border-color: #FF4C29;
    -fx-font-size: 14;
    -fx-font-weight: Bold;
}
